@page "/"
@inject NotificationService NotificationService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>
@code {
    void ButtonClicked()
    {
        NotificationService.Notify(NotificationSeverity.Success, "Radzen Theme Installation Success!", "Congrats! You Have Manually Added Radzen Theme To This Application!", 10000);
    }
}
